.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    background-color:aliceblue ;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid aliceblue;
    box-shadow: inset;
}

.Form>input,.Form>h3{
    margin-bottom: 3em;
    border-radius: 10px;
    border-color: aqua;
    padding: 15px;
}

.form>button{
    margin-bottom: 2em;
    padding: 15px;
}

.form>button:hover{
    background-color: black;
    color: aliceblue;

}

.form>input{
    border-radius: 999px;
    
}